Repository amarkwalder/bceffretikon.ch: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
    "*.{json,md,html,css,yml,yaml}": "yarn prettier --write"
}

Edited with TinaCMS
  packages/website/content/settings/theme.json
Due: yarn prettier --write

Edited with TinaCMS
  packages/website/content/images/logo.png
Due: none

Edited with TinaCMS
  packages/website/content/images/logo-white.png
Due: none

Refactoring
  packages/website/content/images/logo.jpg
  packages/website/content/pages/404.de.json
  packages/website/content/pages/404.en.json
  packages/website/content/pages/dataprotection.de.json
  packages/website/content/pages/dataprotection.en.json
  packages/website/content/pages/legalnotice.de.json
  packages/website/content/pages/legalnotice.en.json
  packages/website/content/settings/cookieconsent.json
  packages/website/content/settings/footer.json
  packages/website/content/settings/menu.json
  packages/website/content/settings/site.json
  packages/website/gatsby-browser.js
  packages/website/gatsby-node.js
  packages/website/package.json
  packages/website/src/components/CookieConsent.tsx
  packages/website/src/components/Footer.tsx
  packages/website/src/components/Header.tsx
  packages/website/src/components/PageLayout.tsx
  packages/website/src/components/SiteLayout.tsx
  packages/website/src/components/Style.tsx
  packages/website/src/components/Theme.tsx
  packages/website/src/components/navbar/NavLink.tsx
  packages/website/src/components/navbar/NavSelect.tsx
  packages/website/src/components/navbar/Navbar.tsx
  packages/website/src/plugins/CookieConsent.ts
  packages/website/src/plugins/Footer.ts
  packages/website/src/plugins/Menu.ts
  packages/website/src/plugins/Site.ts
  packages/website/src/plugins/Theme.ts
  packages/website/src/plugins/index.ts
  packages/website/src/templates/Page.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

Blog refactorings
  packages/website/content/posts/dummy.md
  packages/website/content/posts/first.md
  packages/website/content/posts/introducing-tina-grande.md
  packages/website/content/posts/some-post.md
  packages/website/content/posts/test-post.md
  packages/website/content/posts/yet-another.md
  packages/website/content/settings/authors.json
  packages/website/content/settings/menu.json
  packages/website/content/settings/translations.json
  packages/website/gatsby-node.js
  packages/website/src/blocks/Content.tsx
  packages/website/src/blocks/Image.tsx
  packages/website/src/blocks/Title.tsx
  packages/website/src/components/Authors.tsx
  packages/website/src/components/PageLayout.tsx
  packages/website/src/components/Style.tsx
  packages/website/src/fields/Authors.tsx
  packages/website/src/plugins/Authors.ts
  packages/website/src/plugins/Translations.ts
  packages/website/src/plugins/index.ts
  packages/website/src/templates/List.tsx
  packages/website/src/templates/Page.tsx
  packages/website/src/templates/Post.tsx
  packages/website/src/utils/useAuthors.ts
Due: yarn eslint --fix, yarn prettier --write

Translation Refactoring
  packages/website/content/posts/introducing-tina-grande.de.md
  packages/website/content/posts/introducing-tina-grande.en.md
  packages/website/content/settings/cookieconsent.json
  packages/website/content/settings/footer.json
  packages/website/content/settings/menu.json
  packages/website/content/settings/translations.json
  packages/website/gatsby-node.js
  packages/website/src/components/CookieConsent.tsx
  packages/website/src/components/Footer.tsx
  packages/website/src/components/Header.tsx
  packages/website/src/components/SiteLayout.tsx
  packages/website/src/components/Translation.tsx
  packages/website/src/components/navbar/Navbar.tsx
  packages/website/src/plugins/Authors.ts
  packages/website/src/plugins/CookieConsent.ts
  packages/website/src/plugins/Footer.ts
  packages/website/src/plugins/Menu.ts
  packages/website/src/plugins/Site.ts
  packages/website/src/plugins/Translation.ts
  packages/website/src/plugins/Translations.ts
  packages/website/src/plugins/index.ts
  packages/website/src/templates/List.tsx
  packages/website/src/templates/Post.tsx
  packages/website/src/utils/helpers.ts
  packages/website/tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

Cleanup files
  packages/website/content/images/badminton-net.png
  packages/website/content/images/badminton-racket.jpg
  packages/website/content/images/badminton-racket.png
  packages/website/content/images/badminton-shuttles.png
  packages/website/content/images/cafe-2.jpg
  packages/website/content/images/cafe.jpg
  packages/website/content/images/coffee-beans.jpg
  packages/website/content/images/icon.png
  packages/website/content/images/logo-black.jpg
  packages/website/content/images/logo-white.jpg
  packages/website/content/images/logo-white.png
  packages/website/content/images/logo.jpg
  packages/website/content/images/logo.png
  packages/website/content/pages/404.de.json
  packages/website/content/pages/404.en.json
  packages/website/content/pages/blog.de.json
  packages/website/content/pages/blog.en.json
  packages/website/content/pages/dataprotection.de.json
  packages/website/content/pages/dataprotection.en.json
  packages/website/content/pages/dummy.json
  packages/website/content/pages/home.de.json
  packages/website/content/pages/home.en.json
  packages/website/content/pages/legalnotice.de.json
  packages/website/content/pages/legalnotice.en.json
  packages/website/content/posts/dummy.md
  packages/website/content/posts/introducing-tina-grande.de.md
  packages/website/content/posts/introducing-tina-grande.en.md
  packages/website/content/settings/site.json
  packages/website/content/settings/theme.json
  packages/website/content/settings/translations.json
  packages/website/gatsby-browser.js
  packages/website/src/components/CookieConsent.tsx
  packages/website/src/components/SEO.tsx
  packages/website/src/components/SiteLayout.tsx
Due: yarn eslint --fix, yarn prettier --write

Cookie Consent strict mode
  packages/website/src/components/CookieConsent.tsx
  packages/website/src/components/EditToggle.tsx
  packages/website/src/components/Header.tsx
  packages/website/src/components/Hero.tsx
  packages/website/src/components/SEO.tsx
  packages/website/src/components/Style.tsx
  packages/website/src/fields/Authors.tsx
  packages/website/src/plugins/Site.ts
  packages/website/src/plugins/Theme.ts
  packages/website/src/templates/List.tsx
  packages/website/src/templates/Page.tsx
  packages/website/src/templates/Post.tsx
Due: yarn eslint --fix

Edited with TinaCMS
  packages/website/content/images/badminton-net.jpg
Due: none

Add contact form
  packages/website/content/pages/contact.de.json
  packages/website/content/pages/contact.en.json
  packages/website/src/blocks/Form.tsx
  packages/website/src/blocks/Image.tsx
  packages/website/src/blocks/Title.tsx
  packages/website/src/templates/Page.tsx
Due: yarn eslint --fix, yarn prettier --write

Refactorings
  packages/website/content/settings/menu.json
  packages/website/content/settings/theme.json
  packages/website/src/components/Header.tsx
  packages/website/src/components/NavLink.tsx
  packages/website/src/components/NavSelect.tsx
  packages/website/src/components/Navbar.tsx
  packages/website/src/plugins/Site.ts
Due: yarn eslint --fix, yarn prettier --write

config error
  packages/website/gatsby-browser.js
Due: yarn eslint --fix

Translation rename
  packages/website/src/components/SiteLayout.tsx
  packages/website/src/plugins/Translation.ts
  packages/website/src/plugins/index.ts
Due: yarn eslint --fix

Fixed wrong import in Page Template
  packages/website/src/templates/Page.tsx
Due: yarn eslint --fix

Form corrections
  packages/website/content/pages/contact.de.json
  packages/website/content/pages/contact.en.json
  packages/website/src/blocks/Form.tsx
Due: yarn eslint --fix, yarn prettier --write

Form introducing name and labels
  packages/website/content/pages/contact.de.json
  packages/website/content/pages/contact.en.json
  packages/website/src/blocks/Form.tsx
  packages/website/src/templates/Page.tsx
Due: yarn eslint --fix, yarn prettier --write

Edited with TinaCMS
  packages/website/content/pages/home.en.json
Due: yarn prettier --write

TinaCMS status check
  packages/website/gatsby-browser.js
Due: yarn eslint --fix

Minor fixes and removal of TinaCMS status log
  packages/website/gatsby-browser.js
Due: yarn eslint --fix

SSH key config for Gatsby Cloud
  packages/website/gatsby-config.js
Due: yarn eslint --fix

Upload
  badminton-shuttles.jpg
Due: none

Deleted badminton-shuttles.jpg
  badminton-shuttles.jpg
Due: none

added data
  packages/website/content/pages/home.de.json
Due: yarn prettier --write

testing react-tinacms-github
  packages/website/content/images/badminton-net.jpg
  packages/website/content/images/badminton-net.png
  packages/website/content/images/badminton-racket.png
  packages/website/content/images/badminton-shuttles.png
  packages/website/content/images/dummy.jpg
  packages/website/content/images/icon.png
  packages/website/content/images/logo.png
  packages/website/content/pages/404.de.json
  packages/website/content/pages/404.en.json
  packages/website/content/pages/about.de.json
  packages/website/content/pages/about.en.json
  packages/website/content/pages/blog.de.json
  packages/website/content/pages/blog.en.json
  packages/website/content/pages/contact.de.json
  packages/website/content/pages/contact.en.json
  packages/website/content/pages/dataprotection.de.json
  packages/website/content/pages/dataprotection.en.json
  packages/website/content/pages/dummy.json
  packages/website/content/pages/home.en.json
  packages/website/content/pages/legalnotice.de.json
  packages/website/content/pages/legalnotice.en.json
  packages/website/content/posts/dummy.md
  packages/website/content/posts/first.md
  packages/website/content/posts/introducing-tina-grande.de.md
  packages/website/content/posts/introducing-tina-grande.en.md
  packages/website/content/posts/some-post.md
  packages/website/content/posts/test-post.md
  packages/website/content/posts/yet-another.md
  packages/website/content/settings/authors.json
  packages/website/content/settings/footer.json
  packages/website/content/settings/menu.json
  packages/website/content/settings/site.json
  packages/website/content/settings/theme.json
  packages/website/content/settings/translations.json
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

TinaCMS changed content
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

Update home.de.json
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

Update from TinaCMS
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write
