Repository amarkwalder/bceffretikon.ch: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

Tina commit
  backup/tina-starter-grande/content/pages/home.json
Due: yarn prettier --write

Edited with TinaCMS
  backup/tina-starter-grande/content/images/badminton-shuttles.jpg
Due: none

Content edited
  packages/website/content/content/pages/home.json
  packages/website/content/pages/home.json
  packages/website/gatsby-config.js
Due: yarn eslint --fix, yarn prettier --write

removed pic
  packages/website/content/images/badminton-net.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/badminton-net.jpg
Due: none

changes
  backup/tina-starter-grande/content/pages/home.json
  packages/website/gatsby-config.js
  packages/website/gatsby-node.js
  packages/website/src/components/Hero.tsx
  packages/website/src/components/SiteLayout.tsx
  packages/website/src/templates/Page.tsx
Due: yarn eslint --fix, yarn prettier --write

Edited with TinaCMS
  packages/website/static/images/badminton-net.jpg
Due: none

Edited with TinaCMS
  packages/website/static/images/badminton-racket.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/badminton-racket 2.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/new-image.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/new-image 2.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/new-image 2 2.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/new-image 3.jpg
Due: none

Edited with TinaCMS
  packages/website/content/pages/home.json
Due: yarn prettier --write

Edited with TinaCMS
  packages/website/content/posts/introducing-tina-grande.md
Due: yarn prettier --write

Edited with TinaCMS
  packages/website/content/settings/site.json
Due: yarn prettier --write

multilanguage
  .gitignore
  packages/website/content/pages/about.de.json
  packages/website/content/pages/about.en.json
  packages/website/content/pages/about.json
  packages/website/content/pages/blog.de.json
  packages/website/content/pages/blog.en.json
  packages/website/content/pages/blog.json
  packages/website/content/pages/contact.de.json
  packages/website/content/pages/contact.en.json
  packages/website/content/pages/contact.json
  packages/website/content/pages/dummy.json
  packages/website/content/pages/home.de.json
  packages/website/content/pages/home.en.json
  packages/website/content/settings/site.json
  packages/website/gatsby-browser.js
  packages/website/gatsby-node.js
  packages/website/src/components/Header.tsx
  packages/website/src/components/Nav.tsx
  packages/website/src/components/SiteLayout.tsx
Due: yarn eslint --fix, yarn prettier --write

Multilanguage
  packages/website/content/pages/home.de.json
  packages/website/gatsby-node.js
Due: yarn eslint --fix, yarn prettier --write

Edited with TinaCMS
  packages/website/content/pages/home.de.json
Due: yarn prettier --write

Multilanguage
  packages/website/content/pages/404.de.json
  packages/website/content/pages/404.en.json
  packages/website/content/pages/404.json
  packages/website/content/pages/about.de.json
  packages/website/content/pages/about.en.json
  packages/website/content/pages/blog.de.json
  packages/website/content/pages/blog.en.json
  packages/website/content/pages/contact.de.json
  packages/website/content/pages/contact.en.json
  packages/website/content/pages/dummy.json
  packages/website/gatsby-node.js
  packages/website/src/components/Hero.tsx
  packages/website/src/components/SiteLayout.tsx
  packages/website/src/templates/Page.tsx
Due: yarn eslint --fix, yarn prettier --write

Multilanguage
  packages/website/content/pages/404.de.json
  packages/website/content/pages/404.en.json
  packages/website/content/pages/about.en.json
  packages/website/content/pages/blog.de.json
  packages/website/content/pages/blog.en.json
  packages/website/content/pages/contact.en.json
  packages/website/content/pages/home.en.json
  packages/website/content/settings/menu.json
  packages/website/content/settings/site.json
  packages/website/content/settings/theme.json
  packages/website/gatsby-browser.js
  packages/website/gatsby-node.js
  packages/website/src/components/Nav.tsx
  packages/website/src/components/SiteLayout.tsx
Due: yarn eslint --fix, yarn prettier --write

Edited with TinaCMS
  packages/website/content/settings/theme.json
Due: yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: *.{ts,tsx,js,jsx}
  yarn prettier --write: any of: *.{json,md,html,css,yml,yaml}
