Repository amarkwalder/bceffretikon.ch: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
    "*.{json,md,html,css,yml,yaml}": "yarn prettier --write"
}

TinaCMS update
  packages/website/src/content/pages/about.de.json
Due: yarn prettier --write

update
  packages/website/src/content/pages/about.de.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/home.en.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

Form update
  packages/website/public/index.html
  packages/website/src/layouts/InlineGithubForm.js
  packages/website/src/templates/Page.js
  packages/website/src/templates/Site.js
  packages/website/src/utils/tinaform.js
Due: yarn eslint --fix, yarn prettier --write

cleanup
  packages/website/src/templates/Page.js
  packages/website/src/utils/tinaform.js
Due: yarn eslint --fix

toolbar plugins
  packages/website/src/layouts/InlineGithubForm.js
Due: yarn eslint --fix

new page data
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

update home page
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

migration
  packages/website/package.json
  packages/website/src/blocks/Feature.js
  packages/website/src/blocks/FeatureList.js
  packages/website/src/blocks/Hero.js
  packages/website/src/blocks/Images.js
  packages/website/src/blocks/Paragraph.js
  packages/website/src/components/Header.js
  packages/website/src/components/Hero.js
  packages/website/src/components/Navbar.js
  packages/website/src/components/SEO.js
  packages/website/src/components/Style.js
  packages/website/src/components/Theme.js
  packages/website/src/content/images/badminton-net.jpg
  packages/website/src/content/images/badminton-net.png
  packages/website/src/content/images/badminton-racket.png
  packages/website/src/content/images/badminton-shuttles.png
  packages/website/src/content/images/dummy.jpg
  packages/website/src/content/images/icon.png
  packages/website/src/content/images/logo.png
  packages/website/src/index.js
  packages/website/src/layouts/InlineGithubForm.js
  packages/website/src/layouts/PageLayout.js
  packages/website/src/layouts/SiteLayout.js
  packages/website/src/plugins/FooterFormScreenPlugin.js
  packages/website/src/plugins/MenuFormScreenPlugin.js
  packages/website/src/plugins/SiteFormScreenPlugin.js
  packages/website/src/plugins/ThemeFormScreenPlugin.js
  packages/website/src/plugins/TranslationsFormScreenPlugin.js
  packages/website/src/templates/Page.js
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

moved images
  packages/website/public/images/badminton-net.jpg
  packages/website/public/images/dummy.jpg
  packages/website/src/blocks/Hero.js
  packages/website/src/constants.js
  packages/website/src/content/images/badminton-net.jpg
  packages/website/src/content/images/badminton-net.png
  packages/website/src/content/images/badminton-racket.png
  packages/website/src/content/images/badminton-shuttles.png
  packages/website/src/content/images/icon.png
  packages/website/src/content/images/logo.png
  packages/website/src/content/pages/home.de.json
Due: yarn eslint --fix, yarn prettier --write

Refactorings
  packages/website/package.json
  packages/website/public/images/dummy.jpg
  packages/website/public/inline-blocks-final-state.png
  packages/website/public/ivan-bandura-unsplash-square.jpg
  packages/website/public/martin-sanchez-unsplash-square.jpg
  packages/website/src/blocks-old/Feature.js
  packages/website/src/blocks-old/FeatureList.js
  packages/website/src/blocks-old/Images.js
  packages/website/src/blocks-old/Paragraph.js
  packages/website/src/blocks/Content.js
  packages/website/src/blocks/Form.js
  packages/website/src/blocks/Image.js
  packages/website/src/blocks/Title.js
  packages/website/src/components/Hero.js
  packages/website/src/content/pages/home.de.json
  packages/website/src/layouts/PageLayout.js
  packages/website/src/templates/Page.js
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

form block
  packages/website/package.json
  packages/website/src/blocks/Content.js
  packages/website/src/blocks/Form.js
  packages/website/src/content/pages/home.de.json
  packages/website/src/templates/Page.js
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

Title Block
  packages/website/src/blocks/Form.js
  packages/website/src/blocks/Title.js
  packages/website/src/content/pages/home.de.json
  packages/website/src/templates/Page.js
Due: yarn eslint --fix, yarn prettier --write

Image Block
  packages/website/package.json
  packages/website/src/blocks/Image.js
  packages/website/src/content/pages/home.de.json
  packages/website/src/templates/Page.js
Due: yarn eslint --fix, yarn prettier --write

fix
  packages/website/src/blocks/Image.js
Due: yarn eslint --fix

TinaCMS update
  packages/website/src/content/pages/training.de.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/interclub.de.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/contact.de.json
Due: yarn prettier --write
