Repository amarkwalder/bceffretikon.ch: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
    "*.{json,md,html,css,yml,yaml}": "yarn prettier --write"
}

TinaCMS update
  packages/website/src/content/pages/interclub.de.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

Corrected Feature List
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

Update home.de.json
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/settings/site.json
Due: yarn prettier --write

Tons of refactorings
  packages/website/src/App.js
  packages/website/src/blocks-old/Feature.js
  packages/website/src/blocks-old/FeatureList.js
  packages/website/src/blocks-old/Images.js
  packages/website/src/blocks-old/Paragraph.js
  packages/website/src/blocks/Content.js
  packages/website/src/blocks/Feature.js
  packages/website/src/blocks/FeatureList.js
  packages/website/src/blocks/Form.js
  packages/website/src/blocks/Image.js
  packages/website/src/blocks/Title.js
  packages/website/src/components/Footer.js
  packages/website/src/components/Header.js
  packages/website/src/components/Hero.js
  packages/website/src/components/Loading.js
  packages/website/src/components/NavSelect.js
  packages/website/src/components/Navbar.js
  packages/website/src/components/SEO.js
  packages/website/src/components/Style.js
  packages/website/src/components/Theme.js
  packages/website/src/components/Translation.js
  packages/website/src/content/pages/training.en.json
  packages/website/src/layouts/InlineGithubForm.js
  packages/website/src/layouts/PageLayout.js
  packages/website/src/layouts/SiteLayout.js
  packages/website/src/mediaStore.js
  packages/website/src/plugins/FooterFormScreenPlugin.js
  packages/website/src/plugins/MenuFormScreenPlugin.js
  packages/website/src/plugins/SiteFormScreenPlugin.js
  packages/website/src/plugins/ThemeFormScreenPlugin.js
  packages/website/src/plugins/TranslationsFormScreenPlugin.js
  packages/website/src/templates/Authorizing.js
  packages/website/src/templates/Page.js
  packages/website/src/templates/PageNotFound.js
  packages/website/src/templates/Site.js
  packages/website/src/utils/helpers.js
  packages/website/src/utils/tinaform.js
  packages/website/static.config.js
Due: yarn eslint --fix, yarn prettier --write

Removed tmp dir
  packages/website/tmp/dev-server/index.html
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/training.de.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/home.en.json
Due: yarn prettier --write

Test edit of content
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

Introduced Browser Cache for Tina Forms
  packages/website/src/blocks/Content.js
  packages/website/src/blocks/Feature.js
  packages/website/src/blocks/FeatureList.js
  packages/website/src/blocks/Form.js
  packages/website/src/templates/Site.js
  packages/website/src/utils/tinaform.js
Due: yarn eslint --fix

Removed old content pages
  packages/website/src/content/pages-old/404.de.json
  packages/website/src/content/pages-old/404.en.json
  packages/website/src/content/pages-old/about.de.json
  packages/website/src/content/pages-old/about.en.json
  packages/website/src/content/pages-old/contact.de.json
  packages/website/src/content/pages-old/contact.en.json
  packages/website/src/content/pages-old/home.de.json
  packages/website/src/content/pages-old/home.en.json
  packages/website/src/content/pages-old/interclub.de.json
  packages/website/src/content/pages-old/interclub.en.json
  packages/website/src/content/pages-old/training.de.json
  packages/website/src/content/pages-old/training.en.json
Due: yarn prettier --write

Clear Cache on reload
  packages/website/src/templates/Site.js
Due: yarn eslint --fix

Fixed Translations, Cookie Consent and 404 Handling
  packages/website/package.json
  packages/website/src/components/CookieConsent.js
  packages/website/src/components/SEO.js
  packages/website/src/components/Translation.js
  packages/website/src/constants.js
  packages/website/src/layouts/PageLayout.js
  packages/website/src/templates/PageNotFound.js
  packages/website/src/templates/Site.js
  packages/website/static.config.js
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write
