Repository amarkwalder/bceffretikon.ch: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
    "*.{json,md,html,css,yml,yaml}": "yarn prettier --write"
}

TinaCMS update
  packages/website/src/content/pages/home.de.json
Due: yarn prettier --write

Added routes and additional content
  packages/website/src/content/pages/404.de.json
  packages/website/src/content/pages/404.en.json
  packages/website/src/content/pages/home.en.json
  packages/website/src/content/settings/routes.json
Due: yarn prettier --write

new routes
  packages/website/src/content/settings/routes.json
Due: yarn prettier --write

data update
  packages/website/src/content/settings/routes.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/404.de.json
Due: yarn prettier --write

changed content data
  packages/website/src/content/pages/404.de.json
  packages/website/src/content/pages/404.en.json
  packages/website/src/content/pages/home.de.json
  packages/website/src/content/pages/home.en.json
  packages/website/src/content/settings/routes.json
Due: yarn prettier --write

site.json added and routes.json adapted
  packages/website/src/content/settings/routes.json
  packages/website/src/content/settings/site.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/settings/site.json
Due: yarn prettier --write

images added
  packages/website/src/content/images/badminton-net.jpg
  packages/website/src/content/images/badminton-net.png
  packages/website/src/content/images/badminton-racket.png
  packages/website/src/content/images/badminton-shuttles.png
  packages/website/src/content/images/icon.png
  packages/website/src/content/images/logo.png
Due: none

added settings data
  packages/website/src/content/settings/footer.json
  packages/website/src/content/settings/menu.json
  packages/website/src/content/settings/site.json
  packages/website/src/content/settings/theme.json
  packages/website/src/content/settings/translations.json
Due: yarn prettier --write

test build
  packages/website/resources/codebuild.yml
Due: yarn prettier --write

Create React App public directory
  .gitignore
  packages/website/public/favicon.ico
  packages/website/public/images/badminton-net.jpg
  packages/website/public/images/badminton-net.png
  packages/website/public/images/badminton-racket.png
  packages/website/public/images/badminton-shuttles.png
  packages/website/public/images/icon.png
  packages/website/public/images/logo.png
  packages/website/public/index.html
  packages/website/public/inline-blocks-final-state.png
  packages/website/public/ivan-bandura-unsplash-square.jpg
  packages/website/public/logo192.png
  packages/website/public/logo512.png
  packages/website/public/manifest.json
  packages/website/public/martin-sanchez-unsplash-square.jpg
  packages/website/public/robots.txt
Due: yarn prettier --write

other env vars
  packages/website/resources/codebuild.yml
  packages/website/src/App.js
  packages/website/src/constants.js
Due: yarn eslint --fix, yarn prettier --write

Content Update
  packages/website/resources/cloudfront.yml
  packages/website/resources/codebuild.yml
  packages/website/src/content/pages/home.en.json
Due: yarn prettier --write

new content
  packages/website/resources/codebuild.yml
  packages/website/src/content/pages/home.de.json
  packages/website/src/content/pages/home.en.json
Due: yarn prettier --write

content change
  packages/website/src/content/pages/404.de.json
Due: yarn prettier --write

new content
  packages/website/src/content/pages/404.de.json
Due: yarn prettier --write

Content Update
  packages/website/resources/cloudfront.yml
  packages/website/resources/codebuild.yml
  packages/website/src/content/pages/about.de.json
  packages/website/src/content/pages/about.en.json
  packages/website/src/content/settings/routes.json
Due: yarn prettier --write

TinaCMS update
  packages/website/src/content/pages/home.en.json
Due: yarn prettier --write

Browser Cache
  packages/backend/package.json
  packages/backend/src/constants.js
  packages/backend/src/index.js
  packages/backend/src/routes/pipeline.js
  packages/website/package.json
  packages/website/src/App.js
  packages/website/src/components/Feature.js
  packages/website/src/components/FeatureList.js
  packages/website/src/components/Hero.js
  packages/website/src/components/Images.js
  packages/website/src/components/Paragraph.js
  packages/website/src/layouts/InlineGithubForm.js
  packages/website/src/layouts/SiteLayout.js
  packages/website/src/plugins/PipelineStatePlugin.js
  packages/website/src/templates/Page.js
  packages/website/src/utils/block-fields.js
  packages/website/src/utils/tinaform.js
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

removed unused imports
  packages/website/src/templates/Page.js
Due: yarn eslint --fix

TinaCMS update
  packages/website/src/content/pages/about.de.json
Due: yarn prettier --write

Update tinaform
  packages/website/src/utils/tinaform.js
Due: yarn eslint --fix
