Repository amarkwalder/bceffretikon.ch: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
    "*.{json,md,html,css,yml,yaml}": "yarn prettier --write"
}

Config change for upload folder
  packages/frontend/website/static/admin/config.yml
Due: yarn prettier --write

Fixed rollup config
  packages/frontend/website/rollup.config.js
Due: yarn eslint --fix

Create Blog “this-is-my-first-blog”
  packages/website/static/posts/this-is-my-first-blog.md
Due: yarn prettier --write

Create Blog “test”
  packages/website/static/posts/test.md
Due: yarn prettier --write

Fix path of blog posts
  packages/website/src/routes/blog/[slug].json.js
  packages/website/src/routes/blog/index.json.js
Due: yarn eslint --fix

Added abstract to blog post
  packages/website/src/routes/blog/[slug].json.js
  packages/website/src/routes/blog/index.svelte
  packages/website/static/admin/config.yml
  packages/website/static/posts/test.md
  packages/website/static/posts/test1.md
  packages/website/static/posts/test2.md
Due: yarn eslint --fix, yarn prettier --write

Update Blog “test1”
  packages/website/static/posts/test1.md
Due: yarn prettier --write

Upload “packages/website/static/uploads/badminton-racket.jpg”
  packages/website/static/uploads/badminton-racket.jpg
Due: none

Create Blog “test-3”
  packages/website/static/posts/test-3.md
Due: yarn prettier --write

Update Data “holidays”
  packages/website/static/holidays.yml
Due: yarn prettier --write

Fixed holidays
  packages/website/static/admin/config.yml
  packages/website/static/admin/index.html
  packages/website/static/holidays.yml
Due: yarn prettier --write

Edited with TinaCMS
  packages/tina-starter-grande/content/images/frame-harirak-UR_mNYmpwco-unsplash.jpg
Due: none

Tina commit
  packages/tina-starter-grande/content/pages/test.json
Due: yarn prettier --write

Add content
  packages/website/content/pages/about.json
  packages/website/content/pages/home.json
Due: yarn prettier --write

Tina commit
  packages/website/content/pages/about.json
Due: yarn prettier --write

Tina commit
  packages/website/content/pages/home.json
Due: yarn prettier --write

Edited with TinaCMS
  packages/website/content/images/badminton-racket.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/badminton-net.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/badminton-shuttles.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/frame-harirak-HiR_pqdlXo0-unsplash.jpg
Due: none

Edited with TinaCMS
  packages/website/content/images/frame-harirak-UR_mNYmpwco-unsplash.jpg
Due: none

Edited with TinaCMS
  backup/tina-starter-grande/content/images/badminton-racket.jpg
Due: none

Tina commit
  backup/tina-starter-grande/content/settings/menu.json
Due: yarn prettier --write

Tina commit
  backup/tina-starter-grande/content/settings/theme.json
Due: yarn prettier --write

Edited with TinaCMS
  packages/website/content/pages/about.json
Due: yarn prettier --write

Edited with TinaCMS
  backup/tina-starter-grande/content/images/badminton-net.jpg
Due: none

Tina commit
  backup/tina-starter-grande/content/pages/my-page.json
Due: yarn prettier --write
